---
layout: default
title: Descriptive Bibliography
---
<header>
  <img src="images/borges-webcover.jpg" alt="logo" class="logo">
  <h1><a href="index.html" onclick="window.location">Mapping Borges</a></h1>
<nav>
  <ul>
    {% assign navigation_pages = site.html_pages | sort: "order" %}
    {% for p in navigation_pages %}
    {% if p.order %}
      <li>
        <a href="{{ p.url | prepend: site.baseurl }}" {% if p.url == page.url %}class="active"{% endif %}>
          {{ p.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107317725-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107317725-1');
</script>
</header>

<ul>
{% for bibliography in site.data.descriptive-bibliography %}
{% assign work = bibliography[1] %}
{% assign workkey = bibliography[0] %}
  <li id="{{workkey}}" date-date="{{ work.date | date: "%d/%m/%Y" }}">
      <h1> {{ work.title }} ({{ work.date | date: "%Y" }}) </h1>
      <div class="image">
        <img src="{{ site.baseurl }}/images/{{ work.bookcover }}" alt="">
      </div>
      <div id="descriptive-bibliography" class="description">
        {% for description in work.descriptive_bibliography %}
        <h2> {{ description[0] | upcase }} </h2>
        <p> {{ description[1] }} </p>
        {% endfor %}
      </div>
  </li>
{% endfor %}
</ul>
