---
layout: default
title: Descriptive Bibliography
order: 3
---
<ul>
{% for bibliography in site.data.descriptive-bibliography %}
{% assign work = bibliography[1] %}
{% assign workkey = bibliography[0] %}
  <li id="{{workkey}}">
      {{ work.year }}
      <ul>
        <li> <em> {{ work.title }} </em> </li>
      </ul>
      <div class="description">
        {% for description in work.descriptive_bibliography %}
        <strong> {{ description[0] | upcase }} </strong>
        <p> {{ description[1] }} </p>
        {% endfor %}
      </div>
  </li>
{% endfor %}
</ul>

<div class="timeline">
         <div class="timeline-item active">
             <div class="year"> {{ work.year }} <span class="marker"><span class="dot"></span></span>
             </div>
             <div class="info"> {{ work.title }} </div>
         </div>
</div>
