---
layout: default
title: Map
order: 2
---

<header>
  <img src="images/borges-webcover.jpg" alt="logo" class="logo">
<h1><a href="index.html" onclick="window.location">Mapping Borges</a></h1>
<nav>
  <ul>
    {% assign navigation_pages = site.html_pages | sort: "order" %}
    {% for p in navigation_pages %}
    {% if p.order %}
      <li>
        <a href="{{ p.url | prepend: site.baseurl }}" {% if p.url == page.url %}class="active"{% endif %}>
          {{ p.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
  {% if page.locations.js %}
    {% for js_file in page.locations.js %}
    <script src='/javascript/{{ js_file }}.js' type="text/javascript"></script>
    {% endfor %}
{% endif %}

{% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
{% endif %}
</header>

<main>
<div id="mymap"></div>
<div id="map"></div>
<div id="location-metadata"></div>


<script>
function onEachFeature(feature, layer) {
  console.log(feature);
  var popupContent = '';
    if (feature.properties) {

      if (feature.properties.name) {
        popupContent += '<h2>' + feature.properties.name + '</h2>';
      }

      if (feature.properties.images) {

        feature.properties.images.forEach(function(image) {
          popupContent += '<img src="images/'+image+'">';
        });

      }
      layer.bindPopup(popupContent);
    }
}

var map = L.map('map').setView([-34.6065302, -58.43062439999999], 12);

L.tileLayer('https://api.mapbox.com/styles/v1/norabenedict/ciuygz63a00go2io45drad3w0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoibm9yYWJlbmVkaWN0IiwiYSI6ImNpdXllbjdkbzA0aHYyeWwxd3BoaDdrYzgifQ.F94DF9486D8vAprIkZSOnQ', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);

L.geoJSON(locations,{
    onEachFeature: onEachFeature
}).addTo(mymap).on('click', function(e) {

  var content = document.createTextNode('div');

  metadata_container = document.getElementById('location-metadata');
  metadata_container.appendChild(content);

  console.log(e);
});
</script>
</main>
