* {
  box-sizing: border-box;
}
html {
  color: black;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
}

.logo {
  float: left;
  height: 100px;
  width: 140px;
  display: inline-block;
  float: left;
  padding-top: 40px;
  border: solid white 1px;
  padding: 2px;
}

.borges_images {
  float: left;
  height: 70%%;
  width: 60%0%;
  display: inline-block;
  padding-top: 40px;
  border: solid black 1px;
  padding: 2px;
}

img {
  max-width: 80%;
  width: auto;
  max-height: 80%;
  height: auto;
}

.intro-header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #f8f8f8;
    background: url("images/borges-cover.jpg") no-repeat center center;
    background-size: cover;
    opacity: .6;
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 35%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 60px;
    font-weight: heavy;
    color: #69D2E3;
}

#map {
  height: 80vh;
  width: 70%;
    float: right;
  border: 1px solid black;
}

#location-metadata {
  height: 80vh;
  width: 30%;
    float: left;
  overflow-y: scroll;
  border: 1px solid midnightblue;
}

#descriptive-bibliography {
  height: 70vh;
  width: 60%;
    float: right;
  border: 1px solid black;
  overflow-y: scroll;
}

.about-header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    background: url("images/about-cover2.jpg") no-repeat center center;
    background-size: cover;
    opacity: .6;
}

.about-header > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 60px;
  font-weight: heavy;
  color: black;
  position: relative;
}

.about-header > p {
  margin: 0;
  font-size: 20px;
  font-weight: heavy;
  color: black;
  position: relative;
}

.about-header > img {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
}

.container {
  with: 80%
  margin: 0 auto;
}


header {
  background: #69D2E3;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

header h1 {
  float: left;
  padding: 10px 0;
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: 30px;
  color: white;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 65px;
  padding-top: 40px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav a.active::before {
  width: 100%;
}

.image {
  width: 300px;
}

nav ul li:hover ul{
  display: block;
}

nav ul ul{
  display: none;
  position: absolute;
  background-color: #000;
}
