---
layout: default
title: Descriptive Bibliography
order: 3
---
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107317725-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107317725-1');
</script></head>

<section class="cd-horizontal-timeline">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          {% for bibliography in site.data.descriptive-bibliography reversed %}
          {% assign work = bibliography[1] %}
          {% assign workkey = bibliography[0] %}
          <li><a href="#0" data-date="{{ work.date | date: "%d/%m/%Y" }}"{% if forloop.first == true %} class="selected"{% endif %}>{{ work.date | date: "%Y" }}</a></li>
          {% endfor %}
        </ol>

        <span class="filling-line"
        aria-hidden="true"></span>
      </div> <!-- .events -->
    </div> <!-- .events-wrapper -->

    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul>
  </div>

  <div class="events-content">
    <ol>
      {% for bibliography in site.data.descriptive-bibliography reversed %}
      {% assign work = bibliography[1] %}
      {% assign workkey = bibliography[0] %}
      <li{% if forloop.first == true %} class="selected"{% endif %} data-date="{{ work.date | date: "%d/%m/%Y" }}">
        <h2>{{ work.title }} ({{ work.date | date: "%Y" }})</h2>
        <div class="image">
          <img src="{{ site.baseurl }}/images/{{ work.bookcover }}">
        </div>
        <div class="description">
	      </div>
      </li>
      {% endfor %}
    </ol>
  </div> <!-- .events-content -->
</section>
