<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>"Mapping Borges"</title>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/timeline.css">
<link rel="stylesheet" href="{{ site.baseurl }}/timeline.scss">
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"/>

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="{{ site.baseurl }}/timeline.js"></script>
<script src="{{ site.baseurl }}/modernizr.js"></script>
<script src="{{ site.baseurl }}/locations.js"></script>
<script src="{{ site.baseurl }}/jquery-2.1.4.js"></script>
<script src="{{ site.baseurl }}/jquery.mobile.custom.min.js"></script> <script src="{{ site.baseurl }}/main.js"></script>


<main>
  {{ content }}
</main>
