<!DOCTYPE html>
<meta charset='utf-8'>
<title>"Mapping Borges"</title>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/timeline.css">
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

<script src="{{ site.baseurl }}/timeline.js"></script>
<script src="{{ site.baseurl }}/modernizr.js"></script>


<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="{{ site.baseurl }}/locations.js"></script>


<header>
  <img src="images/borges-webcover.jpg" alt="logo" class="logo">
  <h1>Mapping Borges</h1>

    <nav>
      <ul>
        {% assign navigation_pages = site.html_pages | sort: "order" %}
        {% for p in navigation_pages %}
        {% if p.order %}
          <li>
            <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
              {{ p.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</header>
<main>
  {{ content }}
</main>
